{% extends "base.html" %}
{% load static i18n json %}
{% block title %}Assignments{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>Assignments</h2>
        {% for assignment in assignment_list %}
          <a href="{% url 'crm:assignment_detail' assignment.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ assignment.type }}</h5>
              <small>{{ assignment.type }}</small>
          </div>
          <p class="mb-1"></p>
          <div style="display: inline-block;">
          {% for service in assignment.services.all %}<small>{{ service.name }}, </small>{% endfor %}
          </div>
          </a>
        {% endfor %}
    </div>
    <div class="col-sm-3 offset-sm-1 sidebar-offcanvas" id="assignment_list">
      <form action="{% url 'crm:assignment_list' %}" id="assignment_list_form">
        <fieldset class="form-group">
          <legend>{% trans 'Assignments type' %}</legend>
          <formradiobox input-name="{% trans 'In' %}" input-value="in" input-checked=""></formradiobox>
          <formradiobox input-name="{% trans 'Out' %}" input-value="out" input-checked=""></formradiobox>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block included_javascript %}
      <script type="text/x-template" id="formradiobox">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="type" :value="inputValue" @click.prevented="submitForm">
            #{ inputName }
          </label>
        </div>
      </script>
      <script type="text/javascript">

      Vue.component('formradiobox', {
        props: ['inputName', 'inputValue'],
        delimiters: ["#{", "}"],
        template: '#formradiobox',
        methods: {
          submitForm: function(e) {
            document.getElementById('assignment_list_form').submit()
          }
        }
      })

      var assignment_list = new Vue({
        el: '#assignment_list',
        delimiters: ["#{", "}"],
        })

      </script>


{% endblock included_javascript %}

