{% extends "base.html" %}
{% load static i18n friendshiptags avatar_tags hitcount_tags %}

{% block title %}{% trans 'User' %}: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s2 center-align">
              {% avatar object 130 class="circle" id="user_avatar" %}<br/>
              {% if object == request.user %}
              <a class="waves-effect waves btn-flat" href="{% url 'avatar_change' %}">{% trans 'Change avatar' %}</a>
              {% endif %}
            </div>
            <div class="col s10">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              123123
            </div>
            <div class="col s3">
              345345
            </div>
            <div class="col s3">
              345345
            </div>
            <div class="col s3">
              3453455
            </div>
          </div>
          <p>Friends: {% for friend in froends %} {{ friend }} {% endfor %}</p>
          {% if not object == request.user and not friendship_request %}
          <form method="post" action="{% url 'users:add' object.username %}">
          {% csrf_token %}
          <input type="hidden" name="username" value="{{ object.username }}" />
          <input type="submit" value="add {{ object.username }} as a friend" />
          </form>
          {% endif %}
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
      </div>



      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}

      {% load badges_tags %}
      <span class="badge">
      {% for level in object|badge_count %}
        {% if level.count %}
          <span style="color: green" title="{{level.count}} {{level.badge__level|level_title}} badge{{level.count|pluralize}}"><span style="color: red" class="level_{{level.badge__level}} metal">●</span>{{level.count}}</span>
        {% endif %}
      {% endfor %}
      </span>


      <span>Hit count: {% get_hit_count for object %}</span>

    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'services:pricelist_list' %}">{% trans 'Change pricelist' %}</a>
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">{% trans 'My Info' %}</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">{% trans 'E-Mail' %}</a>
    <!-- Your Stuff: Custom user template urls -->
    {% if request.user.is_performer %}
    <a class="btn btn-primary" href="{% url 'users:pricelist_list' %}" role="button">{% trans 'My PriceList' %}</a>
    {% endif %}
  
  </div>

</div>
<!-- End Action buttons -->
{% endif %}

  <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating red tooltipped" data-position="top" data-delay="50" data-tooltip="Add to friend"><i class="material-icons">group_add</i></a></li>
      <li><a class="btn-floating yellow darken-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Start chat"><i class="material-icons">chat</i></a></li>
      <li><a class="btn-floating green tooltipped" data-position="top" data-delay="50" data-tooltip="Get a job"><i class="material-icons">monetization_on</i></a></li>
      <li><a class="btn-floating blue tooltipped" data-position="top" data-delay="50" data-tooltip="I am a tooltip"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
{% endblock content %}

